.bannerBox {
  width: 310px;
  background-color: #fff;
}
.bannerBox .banner {
  width: 100%;
  height: 190px;
  background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic9.nipic.com%2F20100914%2F2531170_155644551395_2.jpg&refer=http%3A%2F%2Fpic9.nipic.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1637918301&t=2774054ec25d312fe8865a3464edbec1') no-repeat center;
  background-size: cover;
}
.bannerBox p.name {
  margin-bottom: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.bannerBox .control {
  display: flex;
  padding: 15px 0;
}
.bannerBox .control .iconfont {
  flex: 1;
  font-size: 20px;
  cursor: pointer;
}
.modalImg {
  width: 100%;
  height: 190px;
  background: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic9.nipic.com%2F20100914%2F2531170_155644551395_2.jpg&refer=http%3A%2F%2Fpic9.nipic.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1637918301&t=2774054ec25d312fe8865a3464edbec1') no-repeat center;
  background-size: cover;
}
